body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .header {
    background-color: #002147;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header img {
    height: 90px;
  }

  .container {
    padding: 0px;
  }

  .main-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #cccccc;
  }

  .footer {
    background-color: #b0b0b0;
    padding: 15px;
    text-align: center;
  }

  .footer a {
    margin-right: 15px;
  }
  /* .container .main-content a{
    background-color: #1161d9;
    width: 100%;
    height: 8px;
  } */

        
  h2 {
    background-color: #1161d9;
    color: white;
    padding: 10px;
    height: 22px;
    background-color: #002147;
    color: white;
    padding: px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  select {
    display: flex;
    align-items:center;
    width: 25%;
    height: 40%;
    margin-left: 24%;

  }
  form{
    display: flex;
    align-items:center;
    padding: 15px;
   
  }
  
  
  .buttons {
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    border: #002147;
    
  }

  .buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: white;
  }
  .visa{
    background-color: #092243;
    padding: 2px;
    color:white;

  }

 